@charset "UTF-8";
/*Quito los Margenes y Padding por defecto*/
* {
  margin: 0px;
  padding: 0px; }

/*BODY COLOR*/
body {
  background-color: #121421; }

/*Tamaño tipografía por defecto*/
html {
  font-size: 16px;
  line-height: 1.5rem; }

/*INICIO TITULARES Y PARRAFOS POR DEFECTO*/
.h1index {
  margin-bottom: 10px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8); }

.pindex {
  margin: 20px auto;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1.75rem;
  line-height: 1.8rem;
  text-align: center;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8); }

.h1clase {
  margin-bottom: 0.9rem;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
  text-align: center; }

.h2clase {
  margin-bottom: 10px;
  color: #d30172;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8); }

.h3clase {
  color: #d30172;
  font-family: "Lato", sans-serif;
  font-size: 1rem; }

.pclase {
  color: #d1d1d1;
  font-family: "Lato", sans-serif; }

#disco1, #disco2, #disco3, #disco4 {
  color: #2471A3;
  font-family: "Lato", sans-serif; }

caption {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem; }

main > section > article {
  margin-top: 30px; }

/*FIN TITULARES Y PARRAFOS POR DEFECTO*/
/*MENU DE NAVEGACIÓN*/
nav {
  width: 100%;
  height: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #0d0f18;
  z-index: 100; }

body.losCuentos ul.menu-nav li:nth-child(2) a,
body.discografia ul.menu-nav li:nth-child(3) a,
body.galeria ul.menu-nav li:nth-child(4) a,
body.contacto ul.menu-nav li:nth-child(5) a {
  color: #54A8A7; }

.logoNav {
  height: 100%;
  width: 100px; }

.logoNav > a > img {
  height: 100%;
  width: 100%; }

.navbar-toggler-icon > i {
  color: white;
  font-size: 28px; }
  .navbar-toggler-icon > i:hover {
    color: #d30172; }

.contenedorCollapse {
  background-color: #0d0f18; }
  .contenedorCollapse a {
    color: white; }
    .contenedorCollapse a:hover {
      color: #54A8A7;
      transition-duration: 0.2s; }

.collapse > .navbar-nav > .nav-item > .dropdown-menu {
  background-color: rgba(13, 15, 24, 0.8); }
  .collapse > .navbar-nav > .nav-item > .dropdown-menu a {
    color: #54A8A7; }
    .collapse > .navbar-nav > .nav-item > .dropdown-menu a:hover {
      background-color: rgba(0, 0, 0, 0.3); }

.social-icon {
  margin: 10px;
  color: white; }
  .social-icon:hover {
    color: #d30172;
    text-decoration: none; }

/*FIN MENU*/
/*INICIO INDEX*/
#backIndex {
  background-image: url(../images/fondo_index.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.contenedorLogo {
  margin-bottom: 300px; }

#logo {
  margin: auto;
  padding: 180px 0 10px 0;
  display: block; }

.contenedor-cta {
  margin-bottom: 100px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; }

.contenedorVideoIndex {
  margin-bottom: 50px;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }

.videoIndex {
  margin: auto;
  height: 480px;
  width: 720px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  display: inline-flex; }

/*Inicio version mobile*/
@media screen and (max-width: 600px) {
  #backIndex {
    background-image: url(../images/fondo_index_small.jpg);
    background-size: contain; }

  #personaje {
    max-height: 50%;
    max-width: 50%; }

  #dialogo {
    max-width: 100%; } }
/*Fin version mobile*/
/*FIN INDEX*/
/*INICIO LOS CUENTOS*/
.contenedorSliderLC {
  margin-top: 30px;
  width: 80%;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }

.contenedorLC {
  margin: 20px auto 80px auto;
  width: 100%;
  letter-spacing: 0.4px; }

.contenidoLC > .h2clase {
  font-size: 1.8rem; }

.contenidoLC > .pclase {
  font-size: 1.3rem;
  line-height: 2rem; }

.contenedorFotosIntegrantes {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row; }

.nombreint {
  color: #d30172; }

.card {
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5); }

.contenedorFondoDiscografía {
  padding-bottom: 200px;
  background-image: url(../images/fondo_discografia.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }

/*Inicio version mobile*/
@media screen and (max-width: 600px) {
  .contenedorSliderLC {
    width: 100%; } }
/*Fin verson mobile*/
/*FIN LOS CUENTOS*/
/*INICIO DISCOGRAFÍA*/
.contenedorAlbum {
  margin: 50px 0 10px 0;
  width: 100%;
  display: flex;
  justify-content: center; }

.contenidoAlbum {
  height: 450px;
  width: 70%;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  background-color: rgba(13, 15, 24, 0.8); }

.contenidoAlbum > div > iframe {
  border: 0;
  height: 100%;
  width: 21rem; }
  .contenidoAlbum > div > iframe:hover {
    box-shadow: 0px 0px 25px rgba(211, 1, 114, 0.7);
    transition-duration: 0.3s; }

.infoAlbum {
  margin: 15px 0 0 40px;
  width: 100%; }
  .infoAlbum h2 {
    font-size: 1.8rem; }

.contenedorAlbum > .contenidoAlbum > .infoAlbum > table {
  margin-bottom: 10px; }
  .contenedorAlbum > .contenidoAlbum > .infoAlbum > table th {
    border: rgba(0, 0, 0, 0) 10px solid; }

.infoAlbum > span > a {
  text-decoration: none;
  color: white;
  font-size: 1.8em; }
  .infoAlbum > span > a:hover {
    color: #d30172; }

.contenedorTracklist {
  margin: 30px auto 80px auto;
  padding: 10px 0 10px 0;
  width: 70%;
  text-align: center;
  color: white; }

.separador {
  margin: 25px 0 20px 0;
  width: 100%;
  border: 1px solid white; }

/*inicio version desktop*/
@media (min-width: 1380px) {
  .contenidoAlbum {
    width: 60%; }

  .contenedorTracklist {
    width: 60%; } }
/*fin version desktop*/
/*inicio version tablet*/
@media (min-width: 600px) and (max-width: 1024px) {
  .contenidoAlbum {
    height: auto;
    width: 90%; }

  .contenidoAlbum > div > iframe {
    height: 100%;
    width: 14rem; }

  .infoAlbum {
    margin: 5px 0 0 5px;
    width: 100%; }
    .infoAlbum table:nth-child(-n+7) {
      font-size: 0.85rem; }

  .infoAlbum > span > a {
    font-size: 1.5rem; }

  .contenedorTracklist {
    margin: 30px auto 80px auto;
    padding: 10px 0 10px 0;
    width: 90%;
    text-align: center; } }
/*fin version tablet*/
/*inicio version mobile*/
@media only screen and (max-width: 600px) {
  .contenidoAlbum {
    height: auto;
    width: 100%;
    flex-flow: row wrap; }

  .contenidoAlbum > div {
    height: auto;
    width: 100%; }

  .contenidoAlbum > div > iframe {
    height: 400px;
    width: 100%; }

  .infoAlbum > span > a {
    font-size: 0.8rem; }

  .contenedorTracklist {
    width: 100%; }
    .contenedorTracklist iframe {
      width: 100%; }

  .separador {
    width: 100%; } }
/*fin version mobile*/
/*FIN DISCOGRAFÍA*/
/*INICIO GALERIA*/
.contenedorGaleria {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center; }

.contenidoGaleria {
  margin: auto;
  padding: 5px;
  width: 80%;
  text-align: center;
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: row dense; }

.contenidoGaleria > figure {
  filter: grayscale(100%);
  height: 200px;
  width: auto; }
  .contenidoGaleria > figure:hover {
    transform: translateY(-5px);
    transition-duration: 0.3s;
    box-shadow: 6px 9px 7px 0px rgba(211, 1, 114, 0.4);
    filter: grayscale(0%); }

.contenidoGaleria > figure > a > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px; }

.horizontal {
  grid-column: span 2; }

.contenedorVideos {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap; }
  .contenedorVideos span {
    padding: 0 10px;
    height: 100%;
    width: 100%; }
    .contenedorVideos span iframe {
      width: 100%; }

/*inicio version desktop*/
@media (min-width: 1380px) {
  .contenidoGaleria {
    width: 60%; } }
/*fin version desktop*/
/*inicio version mobile*/
@media only screen and (max-width: 600px) {
  .contenedorVideos {
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }

  .contenidoGaleria {
    width: 100%; }

  .horizontal {
    grid-column: span 1; } }
/*fin version mobile*/
/*FIN GALERIA*/
/*CONTACTO*/
.contenedorVideo {
  margin-bottom: 200px;
  position: relative;
  background-color: black;
  height: 80vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  filter: grayscale(1); }
  .contenedorVideo .videoFondo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .contenedorVideo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1; }

.containerform {
  position: absolute;
  top: 80px;
  width: 100%; }

.divFormulario {
  margin: auto;
  padding: 20px;
  width: 50%;
  border: solid 1.5px white;
  background-color: #1b1d2f;
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
  z-index: 2; }

.h1contactanos {
  margin-top: 50px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); }

.textInput {
  font-family: 'Lato', sans-serif;
  color: white;
  border-bottom: 1px solid #494d77; }

.textLabel {
  color: white; }

.textCheckbox {
  color: white;
  font-size: 0.75rem; }

.prefContacto {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #d30172;
  font-weight: bold; }

.contenedorTextarea {
  width: 100%; }

/*inicio version tablet*/
@media (min-width: 600px) and (max-width: 1024px) {
  .divFormulario {
    width: 60%;
    flex-flow: row wrap;
    justify-content: center; } }
/*fin version tablet*/
/*inicio version mobile*/
@media only screen and (max-width: 600px) {
  .divFormulario {
    margin: auto;
    padding: 1rem;
    width: 90%;
    flex-flow: row wrap;
    justify-content: center; } }
/*fin version mobile*/
/*FIN CONTACTO*/
/*INICIO ESTILO DEL FOOTER*/
footer {
  margin-top: 200px; }

.social-icon-footer {
  margin: 30px;
  color: #d30172; }
  .social-icon-footer:hover {
    color: white;
    text-decoration: none; }

.menuFooter > a {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: #d30172; }
  .menuFooter > a:hover {
    color: white; }

.copr {
  margin-bottom: 10px;
  color: grey;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  color: #d30172; }
  .copr a {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    font-style: 0.9rem bold;
    color: white; }

hr {
  border: 0.7px solid white;
  margin: 10px 0; }

/*FIN ESTILO DEL FOOTER*/
